.heroTextSection {
    padding: 40px 16px;

    h1 {
        color: #05030C;
        text-align: center;
        font-size: 46px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        text-transform: capitalize;
    }
}