.homeBlog {
  padding: 60px 16px 40px 16px;

  .cardAlignment {
    .card:last-child {
      padding: 0;
    }
    .card {
      margin: 0 0 40px 0;
      .image {
        position: relative;
        width: 343px;
        height: 169px;

        img {
          display: block;
          width: 100%;
          height: 170px;
          border-radius: 12px 12px 0 0;
        }
      }

      .cardDetails {
        padding: 12px 16px;

        .cardFooteralignment {
          display: flex;
          align-items: center;
          gap: 24px;

          .commentIconTextalignment {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
              display: block;
            }
          }

          span {
            color: #707082;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
          }

          .leftAlignment {
            display: flex;
            align-items: center;
            gap: 12px;

            .twoiconAlignment {
              display: flex;
              align-items: center;
              gap: 4px;
              .emojiImage1 {
                position: relative;
                min-height: 20px;
                min-width: 20px;
              }
            }
            .emojiImage1 {
              position: relative;
              min-height: 20px;
              min-width: 20px;
            }
          }
        }

        h3 {
          color: #05030c;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          margin: 0 0 12px 0;
          line-height: normal;
        }

        .cardHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0 20px 0;

          button {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            padding: 4px 16px;
            border-radius: 36px;
            background: #ffb237;
            border: none;
            color: #fff;
          }

          .time {
            display: flex;
            align-items: center;
            gap: 4px;

            span {
              display: block;
              overflow: hidden;
              color: #707082;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }
    }
  }

  .sectiontitle {
    display: flex;
    align-items: center;
    padding: 0 0 32px 0;
    justify-content: space-between;

    h2 {
      color: #05030c;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }

    .seeMore {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      span {
        display: block;
        color: #3b348a;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}
