@use "sass:map";
@use "../../assets/sass/abstracts/design-tokens" as *;
@use "../../assets/sass/abstracts/mixins" as *;
@use "../../assets/sass/abstracts/breakpoints" as *;

.mobileViewShow {
    @media (min-width: 580px) {
        display: none;
    }
}

.tabviewShow {
    display: none;
    height: 100vh;
    padding: 0 20px;
    // position: relative;
    // img{
    //     max-height: 50px;
    // }
    @media (min-width: 580px)  {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}