.contactIUsBanner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #3b348a;
  padding: 56px 16px 130px 16px;

  .title {
    padding: 0 0 70px 0;
    max-width: 343px;

    h1 {
      color: #f8f8f8;
      font-size: 46px;
      font-style: normal;
      font-weight: 600;
      margin: 0 0 16px 0;
      line-height: 54px;
      text-transform: capitalize;
    }

    p {
      color: #cdcdd9;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;

    .griditems {
      border-radius: 24px;
      border: 1px solid #cdcdd9;
      box-shadow: 1px 1px 34px 0px rgba(17, 0, 211, 0);
      padding: 40px;

      .icon {
        margin-top: -65px;
        .whatsappIcon {
          position: relative;
          height: 58px;
          width: 58px;
        }
      }

      h2 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        margin: 24px 0;
        line-height: 28px;
      }

      button {
        border: none;
        cursor: pointer;
        background-color: #fff;
        padding: 8px 8px 8px 18px;
        color: #3b348a;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        border-radius: 999px;
        line-height: 26px;
        display: flex;
        align-items: center;
        gap: 12px;
        .imgWrap {
          position: relative;
          height: 28px;
          width: 28px;
        }
      }
    }
  }
}
